<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'accueil!{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ asset('home') }}">Accueil</a></li>
                <li><a href="{{ asset('video') }}">Vidéos</a></li>
                <li><a href="{{ asset('chaine') }}">Chaines</a></li>
                <li><a href="{{ asset('recherche') }}">Recherche</a></li>
                <li><a href="{{ asset('ajouter') }}">Ajouter une chaine</a></li>
                <li><a href="{{ asset('editer') }}">Éditer une chaine</a></li>
            </ul>
        </nav>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
